<%- include("../layouts/header.ejs") %>

    <div class="container login">
        <form action="/admin/login" method="POST" class="loginForm" id="form">
            <h1>Admin Login</h1>
            <div class="form-floating mb-3">
                <input type="text" class="form-control " id="email" name="email" placeholder="Enter Your Email">
                <label for="floatingInput">Email</label>
                <div id="emailFeedback"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Enter Your Password">
                <label for="floatingInput">Password</label>
                <div id="passwordFeedback"></div>
            </div>
            <div class="error text-danger">
                <%= message ?? '' %>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <script>
        const validate_form = () => {
            const email = document.getElementById('email');
            const password = document.getElementById('password');

            const email_feedback = document.getElementById('emailFeedback')
            const password_feedback = document.getElementById('passwordFeedback')

            let valid = true;
            // checking if email is valid
            if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email.value)) {
                email.classList.add('is-invalid')
                email_feedback.innerHTML = "Invalid email"
                email_feedback.classList.add('invalid-feedback')
                valid = false
            } else {
                email.classList.remove('is-invalid');
            }
            // checking if password is atleast  8 character long
            if (password.value.length < 8) {
                password.classList.add('is-invalid')
                password_feedback.innerHTML = "Password must be atleast 8 character long"
                password_feedback.classList.add('invalid-feedback')
                valid = false
            } else {
                password.classList.remove('is-invalid');
            }

            return valid;
        }

        const form = document.getElementById('form');
        form.addEventListener('submit', (event) => {
            if (!validate_form()) {
                event.preventDefault()
            }
            form.addEventListener('keyup', validate_form)
        })
    </script>
    <% include("../layouts/footer.ejs") %>